<div class="card container">
  <div
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <h6 style="margin: 0">Datos</h6>
    <button
      class="btn btn-outline-primary"
      style="border: 0"
      (click)="toggleData()"
    >
      + Añadir dato
    </button>
  </div>
  <form class="mt-4" *ngIf="showFormData">
    <div class="input-group mb-2 containerForm">
      <div>
        <label class="form-label">Variable</label>
        <input
          type="text"
          name="variable"
          class="form-control border-secondary"
          placeholder="Ingrese la variable"
          [(ngModel)]="variable"
        />
      </div>
      <div>
        <label class="form-label">Valor</label>
        <input
          type="text"
          name="value"
          class="form-control border-secondary"
          placeholder="Ingrese el valor"
          [(ngModel)]="value"
        />
      </div>
    </div>
    <div style="display: flex; place-content: end">
      <button class="btn btn-outline-secondary mt-2" (click)="toggleData()">
        Cancelar
      </button>
      <button class="btn btn-primary mt-2 ms-2" (click)="onCreate()">
        Añadir
      </button>
    </div>
  </form>
  <ul class="mt-4" *ngIf="data.length > 0">
    <li
      *ngFor="let item of data; index as i"
      class="mt-2"
      style="display: flex; flex-direction: column"
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        {{ item.variable }}: {{ item.value }}
        <div>
          <button
            class="btn btn-primary"
            (click)="
              toggleUpdateData(i, {
                variable: item.variable,
                value: item.value
              })
            "
          >
            Modificar
          </button>
          <button
            type="button"
            class="btn btn-danger ms-2"
            data-bs-toggle="modal"
            data-bs-target="#warningModalData"
            (click)="itemToDelete = item.id"
          >
            Eliminar
          </button>
        </div>
      </div>
      <form class="mt-4" *ngIf="indexUpdate === i">
        <div class="input-group mb-2 containerForm">
          <div>
            <label class="form-label">Variable</label>
            <input
              type="text"
              name="variable"
              class="form-control border-secondary"
              placeholder="Ingrese la variable"
              [(ngModel)]="newInfo.variable"
            />
          </div>
          <div>
            <label class="form-label">Valor</label>
            <input
              type="text"
              name="value"
              class="form-control border-secondary"
              placeholder="Ingrese el valor"
              [(ngModel)]="newInfo.value"
            />
          </div>
        </div>
        <div style="display: flex; place-content: end">
          <button
            class="btn btn-outline-secondary mt-2"
            (click)="toggleUpdateData(null)"
          >
            Cancelar
          </button>
          <button class="btn btn-primary mt-2 ms-2" (click)="onUpdate(item.id)">
            Actualizar
          </button>
        </div>
      </form>
    </li>
  </ul>
  <div *ngIf="data.length === 0 && !showFormData">
    <div class="mt-4">
      <p style="text-align: center; font-size: 16px; font-weight: 600">
        ¡No hay datos aún!
      </p>
    </div>
  </div>
  <app-modal-warning-data
    elementToDelete="item"
    (onDelete)="onDelete($event)"
  />
</div>
