<div class="container container-welcome">
  <div class="card-welcome">
    <h1>¡Hola, bienvenido!</h1>
    <div class="card" style="padding: 4em; text-align: center;">
      <p style="font-size: 18px; font-weight: 500">
        Selecciona un formulario para continuar
      </p>
      <div class="card-body card-body-welcome">
        <a routerLink="form-client" class="btn btn-primary btn-lg">
          Formulario de cliente
        </a>
        <a routerLink="form-municipality" class="btn btn-primary btn-lg ms-4">
          Formulario de municipios
        </a>
      </div>
    </div>
  </div>
</div>
