<div
  class="modal fade"
  id="warningModalData"
  tabindex="-1"
  aria-labelledby="warningModalDataLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="warningModalLabel">
          ¿Seguro deseas eliminar este dato?
        </h5>
      </div>
      <div class="modal-body">
        Si eliminas este dato no lo podrás recuperar
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteElement()"
          data-bs-dismiss="modal"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
